.App{

}
ul{

  border-left: 1px solid;
  margin-right: 3px;
  margin-left: 3px;
}
.header{
  border-bottom: 1px solid;
  text-align: center;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn{
  flex-grow: 1;
}
.buttons{
  padding: 5px;
  border-top: 1px solid;
  display: flex;

}
.tree{
  display: flex;
  flex-direction: column;
  border: 1px solid;
}
.nodeLabel {
  /*
  cursor: pointer;
  */
}

.nodeLabel.selected {
  background-color: #90ff73;
}

